<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
				        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
				        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd  
				        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd  
				        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task-4.1.xsd ">

	<!-- 
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	 -->

	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.ko30" use-default-filters="false" annotation-config="true" >
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- 注入初始化定时任务执行记录bean -->
	<!--  抓取 全国彩最新开奖数据  -->
	<bean id="grabQuanguoHistoryInitQuartzJob" class="com.ko30.quartz.servlet.GrabQuanguoLotteryHistoryDataInitQuartzJob" />
	<!--  抓取 热门彩最新开奖数据  -->
	<bean id="grabRemenHistoryInitQuartzJob" class="com.ko30.quartz.servlet.GrabRemenLotteryHistoryDataInitQuartzJob" />
	<!--  抓取 境外彩最新开奖数据  -->
	<bean id="grabJingwaiHistoryInitQuartzJob" class="com.ko30.quartz.servlet.GrabJingwaiLotteryNewDataInitQuartzJob" />
	<!--  抓取 高频彩最新开奖数据  -->
	<bean id="grabGaopinHistoryInitQuartzJob" class="com.ko30.quartz.servlet.GrabGaopinLotteryNewDataQuartzJob" />
	
	<!--  抓取旧有历史数据  -->
	<!-- <bean id="grabLotteryOldHistoryInitQuartzJob" class="com.ko30.quartz.servlet.GrabLotteryHistoryInitQuartzJob" /> -->
	
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<!-- <property name="order" value="1"></property> -->
	</bean>

	<!-- 静态资源处理 -->
	<mvc:default-servlet-handler />

	<!-- 开启注解驱动 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
						<value>WriteMapNullValue</value>
						<value>WriteNullStringAsEmpty</value>
						<value>DisableCircularReferenceDetect</value>
						<!-- QuoteFieldNames~~~~~输出key时是否使用双引号,默认为true WriteMapNullValue~~~~~是否输出值为null的字段,默认为false 
							WriteNullNumberAsZero~~~~~数值字段如果为null,输出为0,而非null WriteNullListAsEmpty~~~~~List字段如果为null,输出为[],而非null 
							WriteNullStringAsEmpty~~~~~字符类型字段如果为null,输出为"",而非null WriteNullBooleanAsFalse~~~~~Boolean字段如果为null,输出为false,而非null -->
					</array>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="DisableCircularReferenceDetect"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField"
			value="com.alibaba.fastjson.serializer.SerializerFeature.DisableCircularReferenceDetect"></property>
	</bean>

	<!-- 处理文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf8" /> <!-- 编码 -->
		<!-- 已经通过上传类控制，此处不必要了 -->
		<!-- <property name="maxUploadSize" value="104857600" /> --><!-- 最大文件大小（-1为无限制） -->
		<property name="maxInMemorySize" value="10240" /> <!-- 最大内存大小 (10240) -->
	</bean>
	
	<!-- 启动的任务调试执行其它所有的定时任务 -->
	<bean id="sysJob" class="com.ko30.web.core.quartz.QuartzMQ" />
	<!-- 第一步： 指定执行方法名 -->
	<bean id="sysJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="sysJob" />
		<property name="targetMethod" value="execute" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
		<property name="concurrent" value="false" />
	</bean>
	<!-- 第二步：指定触发的类型 -->
	<bean id="sysTriggers"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="sysJobDetail" />
		<property name="cronExpression" value="0/2 * * * * ?" />
	</bean>
	<!-- 配置总管理类 第三步：开启定时任务 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" autowire="no">
		<property name="triggers">
			<list>
				<ref bean="sysTriggers" />
			</list>
		</property>
		<!-- <property name="autoStartup" value="true"></property> -->
	</bean> 
	
	<!-- 拦截器   -->
	<mvc:interceptors>
		<bean id="allInterceptor" class="com.ko30.web.core.interceptors.AllInterceptor" />
	</mvc:interceptors> 
    
</beans>
